.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: headerHeight
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
  z-index: 2

  &-content
    background-color: white

    a
      display: inline-block
      height: headerHeight
      line-height: headerHeight
      padding: 0 25px
      text-decoration: none
